html,
body {
    overscroll-behavior-y: contain;
}

body {
  text-align: center;
  background-color: #011f3f;
}

.btn {
  position: absolute;
  top: 50%;
  left: 50%;
  display: inline-block;
  height: 35vmin;
  width: 35vmin;
  border: 2vmin solid black;
  border-radius: 15%;
  cursor: pointer;
}

#start {
  font-family: "Press Start 2P", cursive;
  font-size: 3vmin;
  margin: auto;
  color: #fef2bf;
  height: 20vmin;
  width: 20vmin;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
}

.start {
  background-color: orange;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.green {
  background-color: green;
  border-top-left-radius: 100%;
  transform: translate(-100%, -100%);

}

.red {
  background-color: red;
  border-top-right-radius: 100%;
  transform: translate(0, -100%);
}

.yellow {
  background-color: yellow;
  border-bottom-left-radius: 100%;
  transform: translate(-100%, 0);
}

.blue {
  background-color: blue;
  border-bottom-right-radius: 100%;
  /* transform: translate(100%, 100%); */
}

.unavailable {
  background-color: gray;
  cursor: inherit;
}

.hidden {
  display: none;
}

.pressed {
  box-shadow: 0 0 2vmin white;
  background-color: white;
  color: black;
}